:root {
  --light-gray: #f4f4f4;
  --green: #85bf3e;
  --white: #ffffff;
}

body {
  background-color: var(--light-gray);
  padding-bottom: 5rem;
}

.bg-dark,
.btn-primary,
.btn:hover {
  background-color: var(--green) !important;
  color: var(--white);
}

.btn-primary {
  background-color: var(--green) !important;
  color: var(--white);
  border: 0;
}

.btn-secondary {
  border: 0;
}

.logo {
  height: 35px;
  margin: 0 20px 0 25px;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
